@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  background-color: orange;
  display: flex;
  justify-content: center;
  align-items: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
